/* *
  !Corres
  ? #ffeac3
  ? #ecbc7c
  ? #6bdbb7
  ? #83e49d
  ? #6dcfbc
  ? #d8ca79
  ? #fb8662
  ? #c78cc5
* */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffeac3;
  min-height: 100vh;
}

.external {
  background-color: #ffffff;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: #fb8662;
  background: linear-gradient(
    0deg,
    #6dcfbc 0,
    #6dcfbc 49%,
    #fb8662 50%,
    #d8ca79 100%
  );
  height: 90%;
  width: 90%;
  border-radius: 50%;
  border: 5px solid #000000;
  position: relative;
  overflow: hidden;
}

.body {
  background-color: #66513e;
  height: 390px;
  width: 250px;
  position: absolute;
  left: 50%;
  bottom: -150px;
  transform: translateX(-50%);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 3px solid #000000;
  overflow: hidden;
}

.body::after {
  content: "";
  border-bottom: 3px solid #000000;
  width: 100%;
  height: 63px;
  position: absolute;
  border-radius: 50%;
  top: 120px;
}
.body::before {
  content: "";
  border-bottom: 3px solid #000000;
  width: 100%;
  height: 77px;
  position: absolute;
  border-radius: 50%;
  top: 30px;
}

.heads {
  position: absolute;
  left: 50%;
  top: 150px;
  z-index: 2;
  transform: translateX(-50%);
  display: flex;
}
.heads > div {
  background-color: #ecbc7c;
  height: 110px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid #000000;
  position: relative;
}

.heads .left {
  z-index: 1;
  margin-right: -20px;
}

.heads .left .eyes {
  width: 70px;
  left: 50%;
  transform: translateX(-53%) rotate(13deg);
  position: relative;
  top: 35px;
}

.heads .left .eyes::before {
  content: "";
  border-top: 3px solid #000000;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  left: 0px;
}
.heads .left .eyes::after {
  content: "";
  border-top: 3px solid #000000;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  right: 10px;
}

.heads .left {
  z-index: 1;
  margin-right: -20px;
}

.heads .left .cheek {
  width: 70px;
  left: 50%;
  transform: translateX(-68%) rotate(12deg);
  position: relative;
  top: 55px;
}

.heads .left .cheek::before {
  content: "";
  background-color: #fff;
  width: 18px;
  height: 9px;
  position: absolute;
  border-radius: 40%;
  left: 5px;
}
.heads .left .cheek::after {
  content: "";
  background-color: #fff;
  width: 18px;
  height: 9px;
  position: absolute;
  border-radius: 40%;
  right: 5px;
}

.heads .left .mouth {
  height: 33px;
  width: 54px;
  left: 50%;
  transform: translateX(-74%) rotate(10deg);
  position: relative;
  top: 49px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom: 3px solid #000000;
}

.heads .left .mouth::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 4px;
  right: 5px;
  bottom: -2px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(16deg);
}
.heads .left .mouth::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 4px;
  left: 5px;
  bottom: -2px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(78deg);
}

.heads .right {
  z-index: 1;
  margin-left: -20px;
}

.heads .right .eyes {
  width: 70px;
  left: 50%;
  transform: translateX(-53%) rotate(-13deg);
  position: relative;
  top: 35px;
}

.heads .right .eyes::before {
  content: "";
  border-bottom: 3px solid #000000;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  left: 16px;
  top: -15px;
}
.heads .right .eyes::after {
  content: "";
  border-bottom: 3px solid #000000;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  right: 0px;
  top: -15px;
}

.heads .right .cheek {
  width: 70px;
  left: 50%;
  transform: translateX(-32%) rotate(-12deg);
  position: relative;
  top: 50px;
}

.heads .right .mouth {
  height: 15px;
  width: 54px;
  left: 50%;
  transform: translateX(-22%) rotate(-11deg);
  position: relative;
  top: 80px;
  border-top: 3px solid #000000;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.heads .right .mouth::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 4px;
  left: 5px;
  bottom: 11px;
  border-left: 2px solid #000000;
  border-top: 2px solid #000000;
  transform: rotate(33deg);
}
.heads .center {
  z-index: 2;
}
